.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  background-color: whitesmoke;
}

h2,
h3,
p,
li {
  color: black;
  font-family: sans-serif;
}

h1,
a:link {
  color: darkcyan;
  font-family: sans-serif;
}

#subtext {
  font-size: 14px;
}

/* a:link {
  color:darkcyan;
} */
